<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>История заявок</title>
    <link rel="stylesheet" href="/css/evaluate.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="/js/history.js" defer></script>
</head>
<body>
<div class="sidebar">
    <a href="/evaluate">Оценка заявок</a>
    <a href="/history">История заявок</a>
</div>
<div class="main-content">
    <h2>История обработанных заявок</h2>

</div>
</body>
</html>